/* Global Styling */

/* CSS Variables */
:root{
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;

}

*{
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

::before, ::after{
  box-sizing: border-box;
}

:not(i){
  font-family: 'Raleway', sans-serif;
}

body{
  background-color: var(--bg-black-50);
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  vertical-align: middle;
  max-width: 100%;
}

.container{
  max-width: 1140px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between{
  justify-content: space-between;
}

.outer-shadow{
  box-shadow: var(--outer-shadow);
}

.inner-shadow{
  box-shadow: var(--inner-shadow);
}

.hover-in-shadow{
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover{
  box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after{
  content: '';
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  width: 100%
}

.hover-in-shadow:hover::after{
  box-shadow: var(--inner-shadow);
}

.align-items-center{
  align-items: center;
}

.btn-1{
  background-color: transparent;
  border-radius: 30px;
  color: var(--skin-color);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  padding: 15px 25px;
  transition: all 0.3s ease;
}

.btn-1::after{
  border-radius: 30px;
}

.effect-wrap .effect{
  position: absolute;
  z-index: -1;
}

.effect-1{
  border:  4px solid #8a48ff;
  height: 30px;
  width: 30px;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.effect-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40px;
  left: 3%;
  bottom: 20%;
  animation: topBounce 3s ease-in-out infinite
}

@keyframes topBounce {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(25px);
  }
}

.effect-2 div{
  background-color: #ff9c07;
  height: 3px;
  margin: 0 3px 8px;
  width: 3px;
}

.effect-3{
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  left: 50%;
  top: -120px;
  animation: leftBounce 3s ease-in-out infinite;
}

@keyframes leftBounce {
  0%, 100%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-25px);
  }
}

.effect-4{
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}

.effect-4::before{
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  content: '';
  opacity: 0.5;
  position: absolute;
  left: -35px;
  top: -25px;
}

.effect-5{
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: space-between;
  overflow: hidden;
  width: 50px;
  right: 8%;
  top: 30%;
  animation: spin 10s linear infinite;
}

.effect-5 div{
  background-color: #4dd0e1;
  height: 100%;
  width: 1px;
}

/* Header Styling */

.header{
  padding: 20px 15px;
  position: absolute;
  width: 100%
  /* top: 0;
  left: 0;
  z-index: 99; */
}

.header .logo a{
  border: 2px solid var(--skin-color);
  border-radius: 50%;
  color: var(--skin-color);
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
}

.header .hamburger-btn{
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: all 0.3s ease;
  width: 40px;
}

.header .hamburger-btn::after{
  border-radius: 50%;
}

.header .hamburger-btn span{
  background-color: var(--bg-black-900);
  display: block;
  height: 2px;
  position: relative;
  width: 16px;
}

.header .hamburger-btn span::before, .header .hamburger-btn span::after{
  background-color: var(--bg-black-900);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%
}

.header .hamburger-btn span::before{
  top: -6px;
}

.header .hamburger-btn span::after{
  top: 6px;
}

/* Navigation Menu Styling */

.nav-menu{
  background-color: var(--bg-black-50);
  height: 100%;
  overflow-y: auto;
  padding: 0 15px;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.nav-menu .close-nav-menu{
  border-radius: 50%;
  color: var(--text-black-600);
  cursor: pointer;
  display: block;
  font-size: 35px;
  line-height: 35px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
  text-align: center;
  transition: all 0.3s ease;
  width: 40px;
}

.nav-menu .close-nav-menu::after{
  border-radius: 50%;
}

.nav-menu-inner{
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.nav-menu ul{
  padding: 15px;
  text-align: center;
}

.nav-menu ul li{
  display: block;
  margin-bottom: 20px;
}

.nav-menu ul li:last-child{
  margin-bottom: 0;
}

.nav-menu ul li a{
  border-radius: 30px;
  color: var(--text-black-700);
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  padding: 5px 30px;
  transition: all 0.3s ease;
}

.nav-menu ul li a::after{
  border-radius: 30px;
}

.nav-menu ul li a.active{
  color: var(--skin-color);
}

.nav-menu .copyright-text{
  color: var(--text-black-300);
  font-size: 15px;
  position: absolute;
  top: 50%;
  left:-30px;
  transform: translateY(-50%) rotate(-90deg);
}

/* Home Section Styling */
.home-section{
  position: relative;
}

.home-section .full-screen{
  min-height: 100vh;
  padding: 75px 0;
}

.home-section .home-text, .home-section .home-img{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text p{
  color: var(--text-black-300);
  font-size: 25px;
  margin: 0;
}

.home-section .home-text h2{
  color: var(--text-black-900);
  font-size: 55px;
  font-weight: 700;
  margin: 0;
}

.home-section .home-text h1{
  color: var(--text-black-700);
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.home-section .home-text h1 .text-cursor{
  border-right: 0.2rem solid #777;
}

.home-section .home-text .btn-1{
  font-size: 16px;
  margin-top: 30px;
}

.home-section .home-img .img-box{
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 450px;
  padding: 15px;
}

.home-section .home-img .img-box img{
  border: 10px solid transparent;
  border-radius: 50%;
  width: 100%;
}
